{% extends 'layout.twig' %}

{% block body_class %}cart-page{% endblock body_class %}
{% block body %}
{% set maxqty = 5 %}
<div class="container page">
  <div class="row">
    <div class="col-12">
      <div class="page__header">
        <h1 class="page__title">{{ settings.cart_title }}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 col-md-offset-2 page__content">
    {% if cart.items | length > 0 %}
      <div class="row cart-page__heading">
        <div class="col-8 col-sm-8 col-md-8 col-lg-7"><h5 class="cart-page__heading--title">Artículo</h5></div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-3"><h5 class="cart-page__heading--title">Cantidad</h5></div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2"><h5 class="cart-page__heading--title cart-page__heading--right">Precio</h5></div>
      </div>
      {% for item in cart.items %}
      <div class="row cart-page__items">
        <div class="col-7 col-sm-8 col-md-8 col-lg-7">
          <div class="row">
            <div class="col-4 col-md-4 col-lg-2 cart-item__image">
              {% if item.sku.image_url is not empty %}
              <img class="img-fluid cart-item__thumbnail" src="{{ item.sku.image_url }}&w=250" width="250" alt="{{ item.product.name }}">
              {% elseif item.product.image_url is not empty %}
              <img class="img-fluid cart-item__thumbnail" src="{{ item.product.image_url }}&w=250" width="250" alt="{{ item.product.name }}">
              {% else %}
              <img class="img-fluid cart-item__thumbnail" src="{{ 'placeholders/product-11.jpg' | global_img_url }}" width="100" alt="{{ item.product.name }}">
              {% endif %}
            </div><!-- cart-item__image -->
            <div class="col-8 col-md-8 col-lg-10 cart-item__details">
              <h4 class="cart-item__product-title"><a class="cart-item__product-link" href="/productos/{{ item.product.permalink }}{% if item.sku.permalink != 'default' %}/{{ item.sku.permalink }}{% endif %}">{{ item.product.name }}</a></h4>
              {% for modifier in item.product.modifiers %}
              <p class="cart-item__product--variant">{{ modifier | title }}: <span class="cart-item__product--variant-desc">{{ item.sku.modifiers[loop.index0] | title }}</span></p>
              {% endfor %}
              <form action="/carrito/eliminar" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="hidden" name="quantity" value="0">
                <button type="submit" class="btn btn-primary item__delete">Borrar</button>
              </form>
            </div> <!-- cart-item__details -->
          </div><!-- .row -->
        </div><!-- .col-4.col-sm-3.col-md-2 -->

        <div class="col-2 col-sm-2 col-md-2 col-lg-3 cart-item__quantity">
          <form name="updateQty" action="/carrito/actualizar" method="post" class="form-inline">
            <div class="form-group">
              <input type="hidden" name="_method" value="patch">
              <input type="hidden" name="id" value="{{ item.id }}">
              <select class="cart-item__quantity-picker updateQty" name="quantity">
                {% for qty in 1..maxqty %}
                <option value="{{ qty }}"{{ qty == item.quantity ? ' selected="selected"' : null }}>{{ qty }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div><!-- .col-4.col-sm-3.col-md-2.cart-item__quantity -->

        <div class="col-3 col-sm-2 col-md-2 col-lg-2 cart-item__price">
          <h4 class="cart-item__price-total">{{ item.total | money('symbol', 'code') }}</h4>
        </div>
      </div><!-- .col-4.col-sm-3.col-md-2.cart-item__price -->
      {% endfor %}
      <div class="row cart-page__resume">
        <div class="col-12 col-sm-6 col-md-8 col-lg-9">
          {% include '_invoices.twig' with { 'title': category.title, 'type': 'category','isCollection': false, 'useFilters': true } %}
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="cart-page__payment__info text-right">
            <div class="row">
              <div class="col-12">
                <h4 class="cart-page__payment__heading">Total</h4>
              </div>
              <div class="col-12">
                <h4 class="cart-page__payment__total">{{ cart.total_price | money('symbol', 'code') }}</h4>
                {% if store.is_tax_included %}
                  <span class="cart-page__payment__taxes-included">IVA Incluído</span>
                {% endif %}
              </div>
              <div class="col-12">
                <a href="/productos" class="btn btn-primary btn-lg cart-page__btn-cart">Ver más</a>
                <a href="/checkout" class="btn btn-primary btn-lg cart-page__btn-cart">Pagar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="cart-page__emptycart text-center">
        <p class="lead cart-page--empty-cart">No tienes nada en tu carrito de compras, <a href="/productos">¡agrega algo ahora!</a></p>
      </div>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block body_js %}
{{ parent() }}
  <script type="text/javascript">
  $(function () {
    $('.updateQty').change(function() {
      this.form.submit();
    });
    $('form').submit(function(){
      $(this).find(':submit').prop('disabled', true);
    });
    // Invoice toggle
    var parseInputsValues = function() {
      var fullname = $('input.invoices__input[name="fullname"]').val();
      var rfc = $('input.invoices__input[name="rfc"]').val();
      var calle = $('input.invoices__input[name="calle"]').val();
      var ext_int = $('input.invoices__input[name="ext-int"]').val();
      var location = $('input.invoices__input[name="location"]').val();
      var state = $('input.invoices__input[name="state"]').val();
      var cp = $('input.invoices__input[name="cp"]').val();
      var county = $('input.invoices__input[name="county"]').val();
      var comments = $('input.invoices__comments[name="comments"]').val();
      $('input.invoices__hidden').val('Nombre completo: '+fullname+'|RFC: '+rfc+'|Calle: '+calle+'|No. Ext-Int: '+ext_int+'|Colonia: '+location+'|Estado: '+state+'|CP.: '+cp+'|Municipio/Delegación: '+county+'|Comentarios: '+comments);
    }
    $('input.invoices__input').keyup(function() {
      var fullname = inputIsValid($('input.invoices__input[name="fullname"]'));
      var rfc = inputIsValid($('input.invoices__input[name="rfc"]'));
      var calle = inputIsValid($('input.invoices__input[name="calle"]'));
      var location = inputIsValid($('input.invoices__input[name="location"]'));
      var state = inputIsValid($('input.invoices__input[name="state"]'));
      var cp = inputIsValid($('input.invoices__input[name="cp"]'));
      var county = inputIsValid($('input.invoices__input[name="county"]'));
      if(fullname && rfc && calle && location && state && cp && county) {
        $('.invoices__group button.invoices--btn').removeClass('disabled');
        parseInputsValues();
      } else {
        $('.invoices__group button.invoices--btn').addClass('disabled');
      }
    });
    var inputIsValid = function(element) {
      return element.val().length > 2 ? true : false;
    }
    $('input.invoices--input').on('click', function(){
      var isSelected = $(this).prop('checked');
      $('form#invoice .invoices__container').toggleClass('active');
    });
   // Invoice toggle

  });
  </script>
{% endblock %}
