<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-5 col-xl-4">
      <div class="menu menu--one">
        <h4 class="menu__title">{{ settings.footer_menu_one_title }} <span class="toggle-icon plus"></span></h4>
        <div class="menu__newsletter">
          {% form 'newsletter' 'class="form-inline"' %}
          <div class="newsletter">
            <div class="row">
              <div class="form-group col-8">
                <input type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" required>
              </div>
              <div class="form-group col-4">
                <button type="submit" class="btn btn-primary btn-lg disabled">Suscríbete</button>
              </div>
            </div>
          </div>
          {% endform %}
        </div>
        <p>Sea el primero en enterarse de ofertas exclusivas, los últimos lookbooks y las mejores tendencias.</p>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2 col-xl-3">
      <div class="menu menu--two">
        <h4 class="menu__title">{{ settings.footer_menu_two_title }} <span class="toggle-icon plus"></span></h4>
        <ul class="menu__list">
        {% for item in menus[settings.footer_menu_two] %}
          <li class="menu__item"><a class="menu__link" href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2 col-xl-2">
      <div class="menu menu--three">
        <h4 class="menu__title">{{ settings.footer_menu_three_title }} <span class="toggle-icon plus"></span></h4>
        <ul class="menu__list">
        {% for item in menus[settings.footer_menu_three] %}
          <li class="menu__item"><a class="menu__link" href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
      <div class="menu menu--four">
        <h4 class="menu__title">{{ settings.footer_menu_four_title }} <span class="toggle-icon plus"></span></h4>
        <ul class="menu__list">
        {% for item in menus[settings.footer_menu_four] %}
          <li class="menu__item"><a class="menu__link" href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="legal">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <p class="legal__text">{{ "now"|date("Y") }} {{ settings.footer_menu_rights }}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 legal__menu">
        <ul class="legal__list {{ settings.footer_menu_legal }}">
        {% for item in menus[settings.footer_menu_legal]%}
          <li class="legal__item"><a class="legal__link" href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
