{% set pageTitle = title %}
{% set pageType = type %}
{% set isCollection = isCollection %}

{% if pageType == 'collection' %}
  {% set parentTitle = 'Colecciones' %}
{% elseif pageType == 'category' %}
  {% set parentTitle = 'Categorías' %}
{% else %}
  {% set parentTitle = 'Productos' %}
{% endif %}

<div class="products-header">
{% if isCollection and collection.image_url is not empty %}
  <div class="splash-image">
    <div class="container">
      <div class="row">
        <div class="col-12 {{ pageTitle }}">
          <img class="collection-image" src="{{ collection.image_url }}" alt="Image header">
        </div>
      </div>
    </div>
  </div>
{% endif %}
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {% if pageType == 'products' %}
              <li class="breadcrumb-item"><a class="breadcrumb-link" href="/productos">{{ parentTitle }}</a></li>
              {% else %}
              <li class="breadcrumb-item">{{ parentTitle }}</li>
              {% endif %}
              <li class="breadcrumb-item active" aria-current="page">{{ pageTitle }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="products-page">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="products-page__header">
            <h1 class="products-page__title">{{ pageTitle }}</h1>
            {% if isCollection %}
            <div class="products-page__intro">{{ collection.description }}</div>
            {% else %}
            <div class="products-page__intro"><p>Inspiración en cada prenda.</p></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="filtersbar">
  <div class="container">

    <div class="row">

      <div class="col-6">
        <div class="filter">
          <h4 class="filter__title">Filtro</h4>
        </div>
      </div>

      <div class="col-6">
        <div class="selector">
          <h4 class="selector__title">Ordenar: <span></span></h4>
          <ul class="selector__list">
            <li class="selector__item" data-value="date-newer">Más nuevo</li>
            <li class="selector__item" data-value="date-older">Más viejo</li>
            <li class="selector__item" data-value="price-descending">Precio Mayor a Menor</li>
            <li class="selector__item" data-value="price-ascending">Precio Menor a Mayor</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="filter-frame filter">
      <div class="row">
        <div class="col-12 col-md-1 filter-colum-js filerColumn">
          <h4 class="filter__type-title">Color</h4>
          <ul class="filter__options type-color">
            <li class="filter__option color-azul" data-type="color" data-filter="azul">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-blanco" data-type="color" data-filter="blanco">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-negro" data-type="color" data-filter="negro">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-multicolor" data-type="color" data-filter="multicolor">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-rojo" data-type="color" data-filter="rojo">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-gris" data-type="color" data-filter="gris">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-verde" data-type="color" data-filter="verde">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-naranja" data-type="color" data-filter="naranja">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-beige" data-type="color" data-filter="beige">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-morado" data-type="color" data-filter="morado">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-rosa" data-type="color" data-filter="rosa">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
            <li class="filter__option color-amarillo" data-type="color" data-filter="amarillo">
             <span class="checkmark"><i class="fa fa-check"></i></span>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-1 filter-colum-js filerColumn">
          <h4 class="filter__type-title">Talla</h4>
          <ul class="filter__options type-size">
            <li class="filter__option" data-type="talla" data-filter="xxs">xxs</li>
            <li class="filter__option" data-type="talla" data-filter="xs">xs</li>
            <li class="filter__option" data-type="talla" data-filter="s">s</li>
            <li class="filter__option" data-type="talla" data-filter="m">m</li>
            <li class="filter__option" data-type="talla" data-filter="l">l</li>
            <li class="filter__option" data-type="talla" data-filter="xl">xl</li>
            <li class="filter__option" data-type="talla" data-filter="xxl">xxl</li>
          </ul>
        </div>
        <div class="col-12 col-md-1 filter-colum-js filerColumn">
          <h4 class="filter__type-title">Entrepierna</h4>
          <ul class="filter__options type-inseam">
            <li class="filter__option" data-type="tags" data-filter="32L">32L</li>
            <li class="filter__option" data-type="tags" data-filter="34L">34L</li>
          </ul>
        </div>
        <div class="col-12 col-md-1 filter-colum-js filerColumn">
          <h4 class="filter__type-title">Silueta</h4>
          <ul class="filter__options type-silhouette">
            <li class="filter__option" data-type="tags" data-filter="skinny">Skinny</li>
            <li class="filter__option" data-type="tags" data-filter="super-skinny">Super skinny</li>
          </ul>
        </div>
        <div class="col-12 col-md-1 filter-colum-js filerColumn">
          <h4 class="filter__type-title">Ajuste</h4>
          <ul class="filter__options type-fit">
            <li class="filter__option" data-type="tags" data-filter="m">Rocco</li>
            <li class="filter__option" data-type="tags" data-filter="n">Jack</li>
          </ul>
        </div>
        <div class="col-12 col-md-1 filter-colum-js filerColumn">
          <h4 class="filter__type-title">Altura</h4>
          <ul class="filter__options type-rise">
            <li class="filter__option" data-type="tags" data-filter="mid-rise">Mid Rise</li>
            <li class="filter__option" data-type="tags" data-filter="low">Low</li>
            <li class="filter__option" data-type="tags" data-filter="high">High</li>
          </ul>
        </div>
        <div class="col-12 col-md-1 filter-colum-js filerColumn">
          <h4 class="filter__type-title">Lavado</h4>
          <ul class="filter__options type-wash">
            <li class="filter__option" data-type="tags" data-filter="light">Light</li>
            <li class="filter__option" data-type="tags" data-filter="medium">Medium</li>
            <li class="filter__option" data-type="tags" data-filter="dark">Dark</li>
          </ul>
        </div>
        <div class="col-12 col-md-1 filter-colum-js filerColumn">
          <h4 class="filter__type-title">Pocket Flap</h4>
          <ul class="filter__options type-pocket-flap">
            <li class="filter__option" data-type="tags" data-filter="pocketflap-yes">Yes</li>
            <li class="filter__option" data-type="tags" data-filter="pocketflap-no">No</li>
          </ul>
        </div>
        <div class="col-12 col-md-2 filter-colum-js filerColumnLast">
          <h4 class="filter__type-title">Price range</h4>
          <ul class="filter__options type-price-range">
            <li class="filter__option" data-type="pricerange" data-filter="0-99" data-filter="0-99">$0 - $99</li>
            <li class="filter__option" data-type="pricerange" data-filter="100-200">$100 - $199</li>
            <li class="filter__option" data-type="pricerange" data-filter="200-300">$200 - $300</li>
          </ul>
        </div>
      </div>
      <div class="row filters-apply">
        <div class="col-12">
          <p><button class="btn btn-disabled">Aplicar filtros</button></p>
          <p><a class="text-link" href="#">Cerrar filtros</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
