<div class="main-menu">
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <ul class="navigation d-flex justify-content-start">
          {% for link in menus.truereligion %}
            <li class="navigation__item"><a class="navigation__link" href="{{ link.url }}">{{ link.name }}</a>
              <div class="megamenu">
                <div class="container">
                  <div class="row">
                    <div class="col-6 col-sm-6 offset-sm-3 col-md-8 offset-md-2 col-lg-10 offset-lg-1 mega-container">
                      {% set level = 1 %}
                      <ul class="level-{{ level }}">
                        {% if link.children | length > 0 %}
                          {% include '_subnav.twig' with {'level': level, 'level': level } %}
                        {% else %}
                          <li class="id-12 title-level-{{ level }}"><a href="{{ link.url }}">{{ link.name }}</a>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
