{% set thumb = {'width': 634, 'height': 955} %}
<div class="container">
  <div class="row">


    <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-lg-offset-1 columnA">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="#">Inicio</a></li>
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="/productos">Productos</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
      </nav>
      <div class="page-header isMobile">
        <div class="row">
          <div class="col-12">
              <h1 class="title">{{ product.name }}</h1>
              <p class="price">
              {% if product.compared_price != null and product.compared_price  > product.price %}
              <span class="price--compared">{{ product.compared_price | money('symbol', 'code') }}</span>
              {% endif %}
              <span class="price--final">{{ product.price | money('symbol', 'code') }}</span>
              </p>
          </div>
        </div><!-- .row -->
      </div><!-- .page-header -->
      <div class="product-slider">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-2">
            <div class="images-container isDesktop">
              <ul class="images-list slider">
              {% if product.images | length > 1 %}
                {% for image in product.images if '_'~default_color in image.url |lower %}
                <li class="images-item"><img class="images-img" src="{{ image.url }}&w=94&h=140&fit=crop" alt="{{ product.name }}" title="{{ product.name }}"></li>
                {% endfor %}
              {% endif %}
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-9 col-lg-10">
            <div class="main-images-container">
              <div class="main-image isDesktop">
                <img id="mainzoom" class="main-image__img" src="{{ product.image_url }}&w=585&h=881&fit=crop" data-zoom-image="{{ product.image_url }}&w=850&h=1280&fit=crop" alt="Imagen de producto">
              </div>
              <div class="main-image isMobile">
              {% if product.images | length > 1 %}
                {% for image in product.images if '_'~default_color in image.url |lower %}
                <img class="main-image__img" src="{{ image.url }}&w=585&h=881&fit=crop" alt="Imagen de producto" alt="{{ product.name }}" title="{{ product.name }}">
                {% endfor %}
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .columnA -->

    <div class="col-12 col-sm-12 col-md-4 col-lg-3 columnB">
      <div class="page-header">
        <div class="row">
          <div class="col-12">
            <h1 class="title">{{ product.name }}</h1>
            <p class="price">
            {% if product.compared_price != null and product.compared_price  > product.price %}
            <span class="price--compared">{{ product.compared_price | money('symbol', 'code') }}</span>
            {% endif %}
            <span class="price--final">{{ product.price | money('symbol', 'code') }}</span>
            </p>
            <div class="product-data"></div>
            <div class="second-data">
              <div class="addToCart">
                <div class="quantity-container">
                  <select class="qty">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  <select>
                </div>
                <button class="addToCart-js">Agregar al Carrito</button>
              </div>
            </div>
          </div>
        </div><!-- .row -->
      </div><!-- .page-header -->
      <div class="product-description">
        <div class="row">
          <div class="col-12">

          {% set sections = product.description|replace({'<div>':''}) %}
          {% set sections = sections|replace({'</div>':'@'}) %}
          {% set sections = sections|replace({'@@':'@'}) %}
          {% set sections = sections|split('@') %}
          {% set section_one = sections[0]|replace({'<p>':'', '</p>':''})|trim %}
          {% set section_two = sections[1]|replace({'<p>':'', '</p>':''})|trim %}
          {% set section_three = section_two|split('-') %}
          {% set section_four = sections[2]|replace({'<p>':'', '</p>':''})|trim %}

            <div class="accordion" id="productDescriptionBox">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0 card-header__title">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Descripción
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#productDescriptionBox">
                  <div class="card-body">
                  {{ section_four }}
                  <p>Estilo: {{ product.sku.code|split('_')[0] }}</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0 card-header__title">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Ajuste + Medida
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#productDescriptionBox">
                  <div class="card-body">
                  {% set section_fit = section_one|split('-') %}
                  {% if section_fit |length > 0 %}
                    <ul class="card-list">
                    {% for item in section_fit if item is not empty %}
                      <li class="card-list-item">{{ item|replace({'-':''}) }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0 card-header__title">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Cuidado
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#productDescriptionBox">
                  <div class="card-body">
                  {% if section_three |length > 1 %}
                    <ul class="card-list">
                    {% for item in section_three if item is not empty %}
                      <li class="card-list-item">{{ item|replace({'-':''}) }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0 card-header__title">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      Servicio al cliente
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#productDescriptionBox">
                  <div class="card-body">
                  <a class="text-link" href="#">Necesitas ayuda? &nbsp;&nbsp;Chatea ahora</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div><!-- .columnA -->

  </div><!-- .row -->
  {% include '_related-products.twig' %}
</div><!-- .container -->

<!-- Modal -->
<div class="modal" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ProductAddedToCart" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title-modal">¡Agregado a tu carrito!</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="https://cdn.kometia-static.com/true-religion/images/x-close.png?v=1546448196" alt="Cerrar"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 ajax-cart-result">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
